################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArcGISRuntimeTester/bin/Debug/arcgisruntime100.8/resources/shaders
